* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .form-container {
    max-width: 100px;
    margin: 100px;
    padding: 20px;
    }
  .v111_84 {
    width: 58px;
    height: 45px;
    background: rgba(175,25,71,1);
    opacity: 1;
    position: absolute;
    top: 71px;
    left: 15px;
    border-radius: 50%;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }

  .v132_9 {
    width: 671px;
    height: 5px;
    background: rgba(224,185,138,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v132_10 {
    width: 671px;
    height: 5px;
    background: rgba(224,185,138,1);
    opacity: 1;
    position: absolute;
    top: 160px;
    left: 0px;
  }
  .v132_11 {
    width: 671px;
    height: 5px;
    background: rgba(224,185,138,1);
    opacity: 1;
    position: absolute;
    top: 311px;
    left: 0px;
  }
  .v132_12 {
    width: 671px;
    height: 5px;
    background: rgba(224,185,138,1);
    opacity: 1;
    position: absolute;
    top: 447px;
    left: 0px;
  }
  .v132_13 {
    width: 671px;
    height: 5px;
    background: rgba(224,185,138,1);
    opacity: 1;
    position: absolute;
    top: 591px;
    left: 0px;
  }
  .v113_138 {
    width: 438px;
    color: rgba(109,75,63,1);
    position: absolute;
    top: 467px;
    left: 0px;
    font-family: Poiret One;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v113_136 {
    width: 297px;
    color: rgba(109,75,63,1);
    position: absolute;
    top: 316px;
    left: 0px;
    font-family: Poiret One;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v113_134 {
    width: 438px;
    color: rgba(109,75,63,1);
    position: absolute;
    top: 164px;
    left: 0px;
    font-family: Poiret One;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v116_139 {
    width: 519px;
    height: 85px;
    background: rgba(224,185,138,1);
    opacity: 1;
    position: absolute;
    top: 882px;
    left: 131px;
    border: 1px solid rgba(160,132,123,1);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    overflow: hidden;
  }
  .v116_140 {
    width: 228px;
    color: rgba(85,53,38,1);
    position: absolute;
    top: 902px;
    left: 310px;
    font-family: Poiret One;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  
  .cup {
    margin-top: 10dvi;
    background-image: url(/assets/cup.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -30dvi;
    height: 100dvi;
    position: static;
    margin-bottom: 15dvi; 
  }
.cup-text {
    width:100%;
    height:fit-content;
    font-family:Poiret One;
    text-align:left;
    font-size:4dvi;
    letter-spacing:0;
    
}
