<section class="main-content">
    <h1 style="font-family:Poiret One;padding-top: 70px;padding-left: 10dvi;">Категории</h1>
    <p style="font-family:Poiret One;padding-left: 10dvi;">Выберите категорию торта, который хотите купить!</p>
    <div class="container" style="margin-top: 10dvi;">
        <div class="row" >
            

            <div class="col-md-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a (click)="setCategory(0)" routerLink="/category-catalogue"><img src="assets/category-bento.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a (click)="setCategory(0)" routerLink="/category-catalogue">Бенто-торт</a></h4>
                        <p>Хотите невероятный вкус? да</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a (click)="setCategory(1)" routerLink="/category-catalogue"><img src="assets/category-birthday.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a (click)="setCategory(1)" routerLink="/category-catalogue">Торты "С Днем Рождения!"</a></h4>
                        <p>Порадуйте именинника невероятным вкусом!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-3">
                <div  class="product-card">
                    <div class="product-thumb">
                        <a (click)="setCategory(2)" routerLink="/category-catalogue"><img src="assets/category-cube.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a (click)="setCategory(2)" routerLink="/category-catalogue">Торты кубики</a></h4>
                        <p>Необычный вид, но всегда отличный вкус!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                           
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a (click)="setCategory(3)" routerLink="/category-catalogue"><img src="assets/category-march.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a (click)="setCategory(3)" routerLink="/category-catalogue">Торты на праздники</a></h4>
                        <p>Порадуйте каждого за праздничным столом!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a (click)="setCategory(4)" routerLink="/category-catalogue"><img src="assets/category-myss.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a (click)="setCategory(4)" routerLink="/category-catalogue">Муссовые торты</a></h4>
                        <p>Нежный снаружи, вкусный внутри!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a (click)="setCategory(5)" routerLink="/category-catalogue"><img src="assets/category-wedding.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a (click)="setCategory(5)" routerLink="/category-catalogue">Свадебные торты</a></h4>
                        <p>Нежность и благородство - тонкое сочетание!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            
        </div>
    </div>
    
    <br>
    <!-- <div class="container mt-3">
        <div id="accordion">
            <div class="card" id="actor-info">
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseO">Биография</a>
                </div>
            
                <div id="collapseO" 
                    class="collapse show" 
                    data-bs-parent="accordion"
                >
                <div class="card-body">
                    Родился 10 октября 1968 года в Саратове в семье актёров Олега Янковского и Людмилы Зориной. Впервые снялся в 1974 году в фильме 
                    «Зеркало» Андрея Тарковского. Пробовался на главную роль в фильме «Остров сокровищ» (1982). Первая взрослая роль 
                    — в фильме «Сентиментальное путешествие на картошку» (1986). В 1990 году окончил Школу-студию МХАТ (курс Олега Табакова). 
                    Тогда же поступил во ВГИК на режиссёрский факультет (мастерская Владимира Наумова). Снял около 150 видеоклипов. 
                    В 1997 году был номинирован на премию «Овация» как лучший режиссёр музыкального видео. Дебютировал как режиссёр в игровом кино, 
                    поставив фильм «В движении», за который был удостоен премии «Ника» в номинации «Открытие года» в 2003 году. Его следующей 
                    режиссёрской работой стала экранизация романа Бориса Акунина «Статский советник», в которой снялись многие 
                    популярные российские актёры. В 2006 году вышел фильм Янковского «Меченосец», а в 2008 году — «Каменная башка». 
                    В 2010-е годы стал чаще сниматься как актёр, в том числе в сериалах, при этом сам не снял ни одного фильма после 
                    «Каменной башки». В 2021 году вышел фильм Глеба Панфилова «Иван Денисович» по мотивам рассказа Александра Солженицына, 
                    где Янковский сыграл главную роль Ивана Шухова. За исполнение этой роли актёр награждён Boccalino d’Oro, призом независимого жюри 
                    74-го кинофестиваля в Локарно.
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseT">Личная жизнь</a>
                </div>
            
                <div id="collapseT" 
                    class="collapse " 
                    data-bs-parent="accordion"
                >
                <div class="card-body">
                    <ul>
                        <li>Жена — Оксана Олеговна Фандера (род. 7 ноября 1967), актриса. </li>
                        <li>Сын — Иван Филиппович Янковский (род. 30 октября 1990), актёр.</li>
                        <li>Внук — Олег Иванович Янковский (род. 26 июня 2021). </li>
                        <li>Дочь — Елизавета Филипповна Янковская (родилась 1 мая 1995) актриса.</li>
                    </ul>
                    
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseH">Творчество</a>
                </div>
            
                <div id="collapseH" 
                    class="collapse " 
                    data-bs-parent="accordion"
                >
                <div class="card-body">
                    Театральное творчество в МХАТ им. А. П. Чехова: 
                    <ul>
                        <li>«Карамазовы» (фантазии режиссёра К. Богомолова на тему романа Ф. Достоевского, 
                            премьера — 26 ноября 2013 года) — Дмитрий Фёдорович Карамазов.</li>
                        <li>«Dreamworks* *Мечта сбывается» (по пьесе Ивана Вырыпаева, 
                            режиссёр Виктор Рыжаков, премьера — 10 мая 2016 года) — Дэвид</li>
                    </ul> 
                </div>
                </div>
            </div>

        </div>
    </div> -->
</section>































            <!-- <div class="col-md-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="assets/category-bento.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Бенто-торт</a></h4>
                        <p>Хотите невероятный вкус? да</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="assets/category-birthday.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Торты "С Днем Рождения!"</a></h4>
                        <p>Порадуйте именинника невероятным вкусом!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="assets/category-cube.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Торты кубики</a></h4>
                        <p>Необычный вид, но всегда отличный вкус!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                           
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="assets/category-march.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Торты на праздники</a></h4>
                        <p>Порадуйте каждого за праздничным столом!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="assets/category-myss.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Муссовые торты</a></h4>
                        <p>Нежный снаружи, вкусный внутри!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="assets/category-wedding.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Свадебные торты</a></h4>
                        <p>Нежность и благородство - тонкое сочетание!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->