<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="assets/category-bento.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Бенто-торт</a></h4>
                        <p>Хотите невероятный вкус? да</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="assets/category-birthday.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Торты "С Днем Рождения!"</a></h4>
                        <p>Порадуйте именинника невероятным вкусом!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="assets/category-cube.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Торты кубики</a></h4>
                        <p>Необычный вид, но всегда отличный вкус!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                           
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="assets/category-march.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Торты на праздники</a></h4>
                        <p>Порадуйте каждого за праздничным столом!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="assets/category-myss.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Муссовые торты</a></h4>
                        <p>Нежный снаружи, вкусный внутри!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#"><img src="assets/category-wedding.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Свадебные торты</a></h4>
                        <p>Нежность и благородство - тонкое сочетание!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
