<header>
  <div  class="ractangle"></div>
  <span  class="cakes">ТОРТЫ НА ЗАКАЗ</span>
  <span  class="e31_19">О нас</span>
  <span  class="e31_20">Контакты</span>
  <span  class="e31_21">Отзывы</span>
  <span  class="e43_5">Каталог</span>
  <span  class="e31_22">Конфигуратор</span>
  <span  class="e31_23">Корзина</span>
  <div  class="logo"></div>
</header>

<div class=e116_258><div class=e31_49><div  class="e31_50"></div><span  class="e31_51">Самара, ул. Масленникова 40</span><span  class="e31_52">pochta&#64;yandex.ru</span><span  class="e31_53">8 (917) 158-38-90 </span><div  class="e116_249"></div><div  class="e116_247"></div><div  class="e116_245"></div></div><div class=e116_259><div  class="e116_253"></div><div  class="e116_251"></div><div  class="e116_255"></div><div  class="e116_257"></div></div></div>
