<header>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
  crossorigin="anonymous">
  <!-- Bootstrap в связке с Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
crossorigin="anonymous"></script>


  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="height: 125px; background-color:rgba(255, 90.0999216735363, 90.0999216735363, 0.75);">
       
    <a class="navbar-brand" href="#"><div  class="logo" ></div></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul  class="navbar-nav">
            <li  class="nav-item">
                <a class="nav-link" href="">О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Контакты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Отзывы</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="">Каталог</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Конфигуратор</a>
             </li>
             <li class="nav-item">
              <a class="nav-link" href="">Корзина</a>
             </li>
        </ul>
    </div>

</nav>

 
  <span  class="cakes">ТОРТЫ НА ЗАКАЗ</span>
  
</header>

<div class=e116_258><div class=e31_49><div  class="e31_50"></div><span  class="e31_51">Самара, ул. Масленникова 40</span><span  class="e31_52">pochta&#64;yandex.ru</span><span  class="e31_53">8 (917) 158-38-90 </span><div  class="e116_249"></div><div  class="e116_247"></div><div  class="e116_245"></div></div><div class=e116_259><div  class="e116_253"></div><div  class="e116_251"></div><div  class="e116_255"></div><div  class="e116_257"></div></div></div>
