body {
    margin: 0;
    padding: 0;
    height: fit-content;
    display: block;
    position: absolute;
    width: 100%;
   
}
/*
nav {
	padding-left: 195px;
	color:rgba(255, 255, 255, 1);
	font-family:Poiret One;
	font-size:34px;
	font-weight: bold;
  }

.header { 
	height:750px;
	position:absolute;
}
.ractangle { 
	background-color:rgba(255, 90.0999216735363, 90.0999216735363, 1);
	height:151px;
	position:relative;
	left:0px;
	top:0px;
} */
.cakes { 
	color:rgba(0, 165.00000536441803, 165.00000536441803, 1);
	width:100%;
	height:40dvi;
	left:10dvi;
	top:15dvi;
	font-family:Poiret One;
	text-align:left;
	font-size:10dvi;
	font-weight: bolder;
	letter-spacing:0;
}
/*
.header_text_component {
	color:rgba(255, 255, 255, 1);
	position:absolute;
	top:20px;
    font-family:Poiret One;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
} */
#navbarSupportedContent{
	background-color:rgba(255, 90.0999216735363, 90.0999216735363);
}

.navbar-dark .navbar-nav .nav-link {
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

.nav-item{
	font-family:Poiret One;
	text-align:center;
	font-size:19px;
	padding-left: 38px;
	
}
.top-menu li a::after {
	content: '';
	display: block;
	width: 100%;
	background-color: #ffffff;
	height: 1px;
	transition: all .3s;
	transform: scale(0);

}

.top-menu li a:hover::after {
	transform: scale(1);
}

.modal-body img {
	max-width: 100px;
	height:20dvi;
}


.footer{
	position: relative;

}
.nav-item {
	margin-left: 70px;
}
.e31_20 { 
	color:rgb(74, 8, 8);
	font-family:Poiret One;
	font-size:34px;
}
.e31_21 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:52px;
	position:absolute;
	left:741px;
	top:49px;
    font-family:Poiret One;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.e43_5 { 
	color:rgba(255, 255, 255, 1);
	width:138px;
	height:52px;
	position:absolute;
	left:490px;
	top:49px;
    font-family:Poiret One;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.e31_22 { 
	color:rgba(255, 255, 255, 1);
	width:254px;
	height:52px;
	position:absolute;
	left:994px;
	top:49px;
    font-family:Poiret One;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.e31_23 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:55px;
	position:absolute;
	left:1696px;
	top:49px;
    font-family:Poiret One;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.logo { 
	width:50px;
	height:50px;
	position:absolute;
	left:43px;
	top:4px;
	background-image:url(images/cake_icon_2.png); 
	background-repeat:no-repeat;
	background-size:cover;
}

.carousel-inner{
	background-color: rgb(231, 221, 218);
	width:100%;
	height:1;
}

.cake1 {
	height:45dvi;
	width: 100dvi;
	background-repeat:no-repeat;
	background-size:cover;
	background-image:url(images/cake1.jpeg); 
}
.cake2 {
	height:45dvi;
	width: 100dvi;
	background-repeat:no-repeat;
	background-size:cover;
	background-image:url(images/cake2.jpg); 
	
}
.cake3 {
	height:45dvi;
	width: 100dvi;
	background-repeat:no-repeat;
	background-size:cover;
	background-image:url(images/cake3.jpg); 
	
}
footer {
	background-color:rgb(137.00000703334808, 145.00000655651093, 163.00000548362732, 1);
}
.footer h4 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 3px;
	font-family:Poiret One;
	font-size: larger;
	font-weight: bold;
}

.footer a {
	text-decoration: none;
	transition: all .3s;
}

.footer a:hover {
	color: #fff;
	text-decoration: underline;
}

.footer a, .footer li {
	color: #ffffff;
	font-family:Poiret One;
	font-size: larger;
}

.footer li a {
	display: block;
}
.footer-icons a {
	display: inline-block;
	margin-right: 15px;
	font-size: 20px;
}




/*
.e116_258 { 
	height:434.7369689941406px;
    bottom: 0;
    position:absolute;
	width:100%;
}
.e31_49 { 
	width:1920px;
	height:434.7369689941406px;
	position:absolute;
	left:0px;
	top:0px;
}
.e31_50 { 
	background-color:rgba(137.00000703334808, 145.00000655651093, 163.00000548362732, 1);
	width:100%;
	height:434.7369689941406px;
	position:absolute;
	left:0px;
	top:0px;
}
.e31_51 { 
	color:rgba(255, 255, 255, 1);
	width:647px;
	height:71.55271911621094px;
	position:absolute;
	left:157px;
	top:65px;
	font-family:Poiret One;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e31_52 { 
	color:rgba(255, 255, 255, 1);
	width:444px;
	height:88.89883422851562px;
	position:absolute;
	left:157px;
	top:305.181640625px;
	font-family:Poiret One;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e31_53 { 
	color:rgba(255, 255, 255, 1);
	width:457px;
	height:71.55271911621094px;
	position:absolute;
	left:157px;
	top:196px;
	font-family:Poiret One;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e116_249 { 
	width:63px;
	height:63.96379470825195px;
	position:absolute;
	left:73px;
	top:305.181640625px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_247 { 
	width:50px;
	height:64px;
	position:absolute;
	left:80px;
	top:187px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_245 { 
	width:48px;
	height:57px;
	position:absolute;
	left:81px;
	top:65px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_259 { 
	width:589px;
	height:102px;
	position:absolute;
	left:1147px;
	top:167px;
}
.e116_253 { 
	width:100px;
	height:100px;
	position:absolute;
	left:163px;
	top:2px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_251 { 
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_255 { 
	width:100px;
	height:100px;
	position:absolute;
	left:326px;
	top:2px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e116_257 { 
	width:100px;
	height:100px;
	position:absolute;
	left:489px;
	top:2px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
*/