.cakes { 
    color:rgba(0, 165.00000536441803, 165.00000536441803, 1);
    width:100%;
    height:fit-content;
    font-family:Poiret One;
    text-align:left;
    font-size:12dvi;
    font-weight: bolder;
    letter-spacing:0;
  }

  .carousel-inner{
    background-color: rgb(231, 221, 218);
    width:100%;
    height:1;
  }

  .cake1 {
    height:45dvi;
    width: 100dvi;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url(/assets/cake1.jpeg); 
  }
  .cake2 {
    height:45dvi;
    width: 100dvi;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url(/assets/cake2.jpg); 
    
  }
  .cake3 {
    height:45dvi;
    width: 100dvi;
    background-repeat:no-repeat;
    background-size:cover;
    background-image:url(/assets/cake3.jpg); 
    
  }