* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poiret One;
    font-size: 3dvi;
  }
  ul,
  li {
    list-style: none;
  }
  p {
    margin-right: 15px;
    text-align: left;
  }
  
  ul {
    width: 100%;
  
    li {
      width: 100%;
      border: 1px solid rgb(88, 12, 12);
      padding: 10px;
      box-sizing: border-box;
    }
  }
  input, textarea {
    padding: 10px;
    margin: 10px;
    font-size: 2dvi;
    background-color: rgba(255, 200, 47, 0.434);
    border-radius: 0.5dvi;
    border-color: rgb(255, 246, 75);
}
textarea {
    max-height: 25dvi;
}
.div-form {
    background-color: #F7F1AF;
    padding: 1dvi;
    border-radius: 0.5dvi;
    margin: 2dvi auto;
    width: 36dvi;
    text-align-last: right;
}

