<div class="modal" [ngClass]="{'show': cake}" tabindex="-1" role="dialog" style="display: block;" *ngIf="cake">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ cake?.name }}</h5>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img [src]="cake?.img" alt="{{ cake?.name }}" style="width: 100%;">
          <p>{{ cake?.description }}</p>
          <p>Цена: {{ cake?.cost }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Закрыть</button>
        </div>
      </div>
    </div>
  </div>  